<launch>

  <node pkg="sicktoolbox_wrapper" type="sicklms" output="screen" name="sicklms">
    <param name="port" type="string" value="/dev/ttyUSB1" />
    <param name="baud" type="int" value="38400" />
    <param name="frame_id" type="string" alue="laser" />
    <param name="inverted" type="bool" value="false" />
    <param name="time_offset" type="double" value="-0.27" />
  </node>

  <node pkg="sickscan3d" type="motorcontrol" output="screen" name="motorcontrol">
    <param name="port" type="string" value="/dev/ttyUSB0" />
    <param name="profvelocity" type="double" value="70" />
    <param name="profacceleration" type="double" value="600" />
    <param name="profdeceleration" type="double" value="600" />
    <param name="rotationpos" type="int" value="2400" />
    <param name="kalmanfilterstep" type="double" value="0.0001" />
    <param name="motionmodelnoise" type="double" value="0.04" />
    <param name="measurenoise" type="double" value="2.1" />
  </node>

  <node pkg="sickscan3d" type="scan3d" output="screen"  name="scan3d">
    <remap from="scan" to="scan"/>
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="max_scans" type="int" value="400" />
    <param name="ignore_laser_skew" type="bool" value="false" />
    <param name="fixed_frame" type="string" value="world" />
  </node>

  <node pkg="sickscan3d" type="merge_cloud" output="screen"  name="merge_cloud" />

</launch>
